{%- if not hideAkutFab %}
{#- Mobile: schwebender Knopf statt Seitenreiter #}
<a class="akut-fab" href="/akut.html"><img src="/assets/img/eulen/krisenmanagement.svg" width="36" height="36" alt="">Akut-Hilfe</a>
{%- endif %}
